*,*:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  html {  
    scroll-behavior: smooth;  
    
  }
  
  html, body{
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    font-family: "Bebas Neue", sans-serif;
  }

  .header__link{
    font-family: "Bebas Neue", sans-serif;
  }
  
  .header:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .header__logo{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    z-index: 3;
    margin-right: 12%;
  }
  
  .header__list{
    display: flex;
    position: relative;
    z-index: 2;
    gap: 20px;
  }
  .header__search{
    text-decoration: none;
    font-size: 24px;
    z-index: 3;
    margin-left: 200px;
  }
  
  .header__search a:after{
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: white;
    transition: width 0.4 ease-in-out;
  }
  
  .header__search:hover{
    color: white;  
    text-decoration: underline;
    text-underline-offset: 4px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
    
  }
  .header__search{
    color: rgb(165, 168, 177); 
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
  }
  .header__search a:hover:after,
  .header__search a:focus:after{
    width: 100%;
  }
  
  .header__like{
    text-decoration: none;
    z-index: 3;
    font-size: 24px;
    margin-right: 100px;
  }
  
  .header__list a:after{
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: white;
    transition: width 0.4 ease-in-out;
  }
  
  .header__like a:after{
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: white;
    transition: width 0.4 ease-in-out;
  }
  
  .header__like :hover{
    color: white; 
    
    text-decoration: underline;
    text-underline-offset: 4px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
    
  }
  
  .header__like a:hover:after,
  .header__like a:focus:after{
    width: 100%;
  }
  
  .header__list a:hover:after,
  .header__list a:focus:after{
    width: 100%;
  }
  
  a.header__like{
    color: rgb(165, 168, 177); 
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
  }
  
  a.header__link, .header__search{
    color: rgb(165, 168, 177); 
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
  }
  a.header__link:hover{
    color: white; 
  }
  
  .header__list li{
    list-style: none;
    margin: 0px 50px 0px 0px;
    text-align: start;
  }
  
  .header__link{
    color:white;
    font-size: 18px;
    text-decoration: none;
  }
  
  .burger__link{
    font-size: 0px;
  }
  
  
  
  .header__container{
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 10px;
  }

@media(max-width: 1280px){
    .body{
      overflow: hidden;
    }
    .header__body{
      height: 90px;
    }
    .header__logo{
      flex: 0 0 40px;
      margin-right: -90%;
    }

    .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px; 
      z-index: 3; 
      margin-left: 10px;
    }

    .header__burger span{
      position: absolute;
      background-color: #fff;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3em ease 0s;
    }

    .header__burger:before,
    .header__burger:after{
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3em ease 0s;
    }
    .header__burger:before{
      top: 0;
    }
    .header__burger:after{
      bottom: 0;
    }
    .header__burger.active:before{
      transform:rotate(45deg);
      top: 9px;
    }
    .header__burger.active:after{
      transform:rotate(-45deg);
      bottom: 9px;
    }
    .header__burger.active span{
      transform:scale(0);
    }
    .header__menu{
      position: fixed;
      top: -100%;
      left: 0;
      width: 80%;
      height: 100%;
      background-color: black;
      padding: 70px 10px 20px 10px;
      transition: all 0.3em ease 0s;
    }
    .header__menu.active{
      top: 0;
    }

    .header__list{
      display: block;
      margin-top: 50px;
    }
    .header__list li{
      margin: 0px 0px 20px 0px;
      font-size: 24px;
    }
    .header__like{
      font-size: 0px;
    }

    .header__search{
      font-size: 0px;
    }

    .burger__link{
      color: rgb(165, 168, 177); 
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
    }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;

}

swiper-container {
  width: 1000px;
  height: 1000px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
  
}

swiper-slide {
  font-size: 18px;
  background: #fff;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #f5f3f3;
}

  .photos{
    display: inline-block;
  }
  .discription{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 15px;
  }

  .name_brand{
    font-size: 18px;
    color: #939394;
    margin-top: 30px;
    margin-left: 10px;
    font-family: "Oswald", sans-serif;
  }

  .item_name{
    font-size:40px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-left: 10px;
    font-family: "Oswald", sans-serif;
  }

  .previous_price{
    margin-top: 10px;
    font-size: 22px;
    text-decoration: line-through;
    margin-left: 10px;
    font-family: "Oswald", sans-serif;
  }

  .real_price{
    margin-top: 10px;
    font-size: 26px;
    margin-left: 20px;  
    font-family: "Oswald", sans-serif;
  }

  .arrow{
    margin-top: 10px;
    font-size: 26px;
    margin-left: 20px;
    font-family: "Oswald", sans-serif;
  }

  .predzak{
    margin-top: 16px;
    color: #858585;
    font-size: 16px;
    margin-left: 10px;
    font-family: "Oswald", sans-serif;
  }

  .size{
    margin-top: 24px;
    color: #858585;
    font-size: 12px;
    margin-left: 10px;
    font-family: "Oswald", sans-serif;
  }

  .size_button{
    width: 60px;
    height: 50px;
    border: 1px solid black;
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 7px;
    background-color: #fff;
    font-family: "Oswald", sans-serif;
  }
  
  .quantity_phrase{
    margin-top: 24px;
    color: #858585;
    font-size: 12px;
    margin-left: 10px;
    font-family: "Oswald", sans-serif;
  }

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.counter_body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: #ffffff;

}

.counter {
	display: inline-flex;
	column-gap: 14px;
	align-items: center;
	user-select: none;

	&__button {
		flex: 0 0 30px;
		height: 60px;
		border: 1px solid #000;

		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&_minus {
			&.disabled {
				border: 1px solid #c4c4c4;
				color: #c4c4c4;
				cursor: default;
			}
		}

		&_plus {
		}
	}

	&__input {
		flex: 0 0 60px;
		input {
			width: 100%;
			background-color: #ffffff;
			border: none;
			text-align: center;
		}
	}
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .counter_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    background-color: #ffffff;
  }
  
  .counter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-column-gap: 14px;
            column-gap: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: -480px;

  }
  
  .counter__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    height: 45px;
    border: 1px solid #000;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  
  .counter__button_minus.disabled {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    cursor: default;
  }
  
  .counter__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
  
  .counter__input input {
    width: 100%;
    background-color: #ffffff;
    border: none;
    text-align: center;
  }

  .like_button{
    width: 500px;
    height: 64px;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 50px;
    font-family: "Oswald", sans-serif;
  }

  .rec{
    margin-top: 20px;
    row-gap: 10px;
    font-size: 16px;
    color: #969696;
    font-family: "Oswald", sans-serif;
  }

.rec_ul{
  margin-top: 70px;
  margin-left: 20px;
}

.link_button{
  width: 500px;
  height: 64px;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 24px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50px;
  font-family: "Oswald", sans-serif;
  }

  .link_button:hover {
    border: 4px solid black;
    transition: all 0.3em ease 0s;
    cursor: pointer;
    }
  
    .like_button:hover {
    border: 4px solid ;
    transition: all 0.3em ease 0s;
    cursor: pointer;
    }

    .explore {
      font-size: 20px;
      line-height: 28px;
      color: rgb(255, 255, 255);
      background-color: rgb(122, 215, 252);;
      width: 500px;
      height: 70px;
      margin-top: 40px;
      margin-left: 20px;
      padding-top: 10px;
      padding-right: 50px;
      padding-bottom: 10px;
      padding-left: 50px;
      border-top-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0px;
      border-left-width: 0px;
      border-top-style: outset;
      border-right-style: outset;
      border-bottom-style: outset;
      border-left-style: outset;
      border-top-color: rgb(122, 215, 252);
      border-right-color: rgb(122, 215, 252);
      border-bottom-color: rgb(122, 215, 252);
      border-left-color: rgb(122, 215, 252);
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      cursor: pointer;
      border-radius: 50px;
      font-family: "Oswald", sans-serif;
    }

    .explore:hover {
      background-image: initial;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: rgb(148, 248, 255);
      color: rgb(255, 255, 255);
    }

    

footer {
    position: relative;
    bottom: 0;
  }
  
  @media (max-height:100px) {
    footer {
        position: absolute;
    }
  
  }
  
  .footer-distributed {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 30%;
  }
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
  
  
  .footer-distributed h3 span {
    color: #ffffff;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
    ;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 30%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  .footer-distributed .footer-icons a:hover {
    background-color: #d1d1d1;
  }
  
  .footer-links a:hover {
    color: #d3d3d3;
  }
  
  @media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
  }  

  @media(max-width:1280px){
    swiper-container {
      width: 320px;
      height: 400px;
      display: inline-block;
      margin-left: 30px;
      margin-top: 10px;    
    }

    .name_brand{
      font-size: 18px;
      color: #939394;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    .item_name{
      font-size:30px;
      margin-top: 10px;
      padding-bottom: 30px;
      margin-left: 0px;
      width: 340px;
    }
  
    .previous_price{
      margin-top: 10px;
      font-size: 22px;
      text-decoration: line-through;
      margin-left: 0px;
    }
  
    .real_price{
      margin-top: 0px;
      font-size: 26px;
      margin-right: 0px;  
    }
  
    .arrow{
      margin-top: 0px;
      font-size: 26px;
      
    }
  
    .predzak{
      margin-top: 16px;
      color: #858585;
      font-size: 16px;
      margin-left: 0px;
    }

    .size{
      margin-top: 24px;
      color: #858585;
      font-size: 12px;
      margin-left: 0px;
    }
  
    
    
    .quantity_phrase{
      margin-top: 24px;
      color: #858585;
      font-size: 12px;
      margin-left: 0px;
    }

    .size_buttons{
      margin-left: -12px;
    }

    .counter {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-column-gap: 14px;
              column-gap: 14px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      margin-left: -130px;
  
    }

    .like_button{
      width: 300px;
      height: 64px;
      margin-left: -10px;
      margin-top: 20px;
      font-size: 24px;
    }
  

  
  .rec_ul{
    margin-top: 70px;
    margin-left: 0px;
  }
  
  .link_button{
    width: 300px;
    height: 64px;
    margin-left: -10px;
    margin-top: 20px;
    font-size: 24px;
    border: 2px solid black;
    background-color: white;
    }

    .explore {
      font-size: 20px;
      line-height: 28px;
      color: rgb(255, 255, 255);
      background-color: rgb(122, 215, 252);;
      width: 330px;
      height: 70px;
      margin-top: 40px;
      margin-left: -10px;
      padding-top: 10px;
      padding-right: 50px;
      padding-bottom: 10px;
      padding-left: 50px;
      border-top-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0px;
      border-left-width: 0px;
      border-top-style: outset;
      border-right-style: outset;
      border-bottom-style: outset;
      border-left-style: outset;
      border-top-color: rgb(122, 215, 252);
      border-right-color: rgb(122, 215, 252);
      border-bottom-color: rgb(122, 215, 252);
      border-left-color: rgb(122, 215, 252);
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      cursor: pointer;
    }
  }